.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1020; /* Toujours au-dessus */
}

.menu {
  position: fixed;
  top: 56px;
  left: 0;
  width: 140px;
  height: 100%;
  padding: 15px;
  overflow-y: auto;
}

.menu a {
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.menu a:hover {
  background-color: #d0d4d8;
  padding-left: 5px;
  border-radius: 3px;
}

.content {
  margin-left: 180px;
  padding: 20px;
  padding-top: 70px;
}

.img-comparison img {
  max-width: 100%;
  height: auto;
}

h1{
  padding-top: 10px;
  padding-bottom: 5px;
}

.download-icon {
  font-size: 18px;
  color: rgba(83, 80, 80, 0.377);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.download-icon:hover {
  color: darkred;
  transform: scale(1.2);
}

